{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center py-5">
            <div class="car">
                <div class="card-header text-center"></div>
                <div class="card p-3">
                    <h1 class="display-4">Password reset complete</h1>
                    <p class="lead">Your password has been set. You may go ahead and log in now.</p>
                    <div class="card-footer">
                        <a href="{% url 'login' %}" class="btn btn-dark">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}